@import 'base';

/* ========================== Variable ========================== */









/* ========================== Header ========================== */

.header__container {
    margin-top: 30px;
}

.header__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__call {
    gap: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    a {
        font-size: 30px;
        color: #000000;
    }

    button {
        font-family: 'Geometria', sans-serif;
        color: #000000;
    }
}

.call-btn {
    border: 1px #2A94E2 solid;
    border-radius: 5px;
}

.navigation__menu {
    gap: 20px;
    display: flex;
    align-items: center;
}





.about__container {
    margin-top: 30px;

    h1 {
        font-size: 50px;
        line-height: 75px;
        text-transform:uppercase;
    }

    .realty-kvartir {
        font-size: 22px;
        padding: 47px 0;
        line-height: 35px;
    }
}

.about__list {
    .list {
        gap: 50px;
        display: flex;
    }
    
    li {
        gap: 20px;
        display: flex;
        align-items: end;

        p:nth-child(1) {
            font-size: 70px;
        }

        
    }
}


.about__vino {
    margin: 45px 0;
}

.vino-section {
    gap: 20px;
    display: flex;
    align-items: center;

    p {
        line-height: 26px;
    }

}

.variant-btn {
    margin: 45px 0;
    border: 1px #2A94E2 solid;
    background-color: #2A94E2;

    a {
        color: #fff;
        font-family: 'Geometria', sans-serif;
    }
}

